* {
  padding: 0;
  margin: 0;
 
}
 
.header {
  display: flex;
  background-color: rgb(90, 88, 88);
  height: 10vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.ri-store-3-line {
  color: white;

  margin-left: 10%;
}

.Home {
  display: flex;
  background-color: rgb(166, 166, 245);
  height: 5vh;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 10px;
  align-items: center;
}
h3 {
  color: white;
  position: relative;
  top: 8%;
  font-size: 1.1vw;
  margin-left: 5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ri-home-4-fill {
  
  margin-left: 10%;
}
 

     
    
 
h2{
    margin-top: 10%;
    color: white;
}
 
 

 a{
    color: white;
    text-decoration: none;
 }
 .Home a{
  font-size: 1vw;
 }
 .customer{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  
  padding: 5%;
 }
 .customer a{
  font-size: 1vw;
 }
  .customer:hover{
    background-color: rgb(95, 91, 91);
    border-radius: 5px;
  }
  
 
