.model-section{
    width: 100%;
    height: auto;
}

.model-detail{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.products{
    height: 100%;
    width: 50%;
}
.images{
    height: 100%;
    width: 40%;
    border: 1px dashed black;
    overflow: scroll;
}
.img-section{
    height: 10%;
    width: auto;
    
    
}

.single-images{
    height: 80%;
    width: auto;
    display: flex;
    flex-wrap: wrap;

   
    
   
   
}

.image-list{
    height: 40%;
    width: 40%;
   
   
   
}

.image-list img{
    height: 100%;
    width: 100%;
    
    object-fit: contain;
   
}