 *{
  padding: 0;
  margin: 0;
  
 }
 .main{
  display: flex;
  height: 100vh;
  width: 100vw;
 }
 .leftDiv{
  background-color: rgb(49, 47, 47);
  width: 15vw;
 }
   .content{
    height: calc(100vh - 10vh);
    width: 100% ;
    
  
  }
  .rightDiv{
    height: 10vh;
    width: 100vw;
    background-color: aqua;
  }